ID,type,domain,subdomain,is_contact,diffdomains,cname_1,cname_2,cname_3,email,title,firstname1,lastname1,token,group,hosts,ASN_IDs,ASN_names
1,Fingerprints do not match,example.org,sub2.example.org,,,,,,,,,,ZX94F21,,23.215.0.132,20940,AKAMAI-ASN1
2,Fingerprints miss DNSSEC,example.com,sub1.example.com,,,,,,,,,,ET68Q81,,23.215.0.138,20940,AKAMAI-ASN1
