{% extends "base.html" %}

{% block title %}SSHFP Security Notification Tool{% endblock %}

{% block content %}
  <h1 class="mt-5 center">SSH Security Notification Tool</h1>
  <div class="accordion" id="accordion">

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq0-heading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq0-data" aria-expanded="false" aria-controls="faq0-data">
          <h2>{{"Self-test"|t}}-Tool</h2>
        </button>
      </h2>
      <div id="faq0-data" class="accordion-collapse collapse show" aria-labelledby="faq0-heading">
        <div class="accordion-body">
          <p>{{"If you are looking for the self-test tool, please <a href='/tool'>click here</a> or the link in the navigation."|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq1-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1-data" aria-expanded="false" aria-controls="faq1-data">
          <h2>{{"Who is behind the cover letters?"|t}}</h2>
        </button>
      </h2>
      <div id="faq1-data" class="accordion-collapse collapse" aria-labelledby="faq1-heading">
        <div class="accordion-body">
          <p>{{"afaq1"|t|safe}}</p>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="faq13-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq13-data" aria-expanded="false" aria-controls="faq13-data">
          <h2>{{"Why did you write to me?"|t}}</h2>
        </button>
      </h2>
      <div id="faq13-data" class="accordion-collapse collapse" aria-labelledby="faq13-heading">
        <div class="accordion-body">
          <p>{{"afaq13"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq2-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-data" aria-expanded="false" aria-controls="faq2-data">
          <h2>{{"What is your motivation?"|t}}</h2>
        </button>
      </h2>
      <div id="faq2-data" class="accordion-collapse collapse" aria-labelledby="faq2-heading">
        <div class="accordion-body">
          <p>{{"afaq2"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq3-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3-data" aria-expanded="false" aria-controls="faq3-data">
          <h2>{{"Are you trying to sell me something now?"|t}}</h2>
        </button>
      </h2>
      <div id="faq3-data" class="accordion-collapse collapse" aria-labelledby="faq3-heading">
        <div class="accordion-body">
          <p>{{"afaq3"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq4-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4-data" aria-expanded="false" aria-controls="faq4-data">
          <h2>{{"What can I do now?"|t}}</h2>
        </button>
      </h2>
      <div id="faq4-data" class="accordion-collapse collapse" aria-labelledby="faq4-heading">
        <div class="accordion-body">
          <p>{{"afaq4"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq14-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq14-data" aria-expanded="false" aria-controls="faq14-data">
          <h2>{{"I have made the changes to my domain, but the tool shows no improvement?"|t}}</h2>
        </button>
      </h2>
      <div id="faq14-data" class="accordion-collapse collapse" aria-labelledby="faq14-heading">
        <div class="accordion-body">
          <p>{{"afaq14"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq5-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5-data" aria-expanded="false" aria-controls="faq5-data">
          <h2>{{"How was my domain found?"|t}}</h2>
        </button>
      </h2>
      <div id="faq5-data" class="accordion-collapse collapse" aria-labelledby="faq5-heading">
        <div class="accordion-body">
          <p>{{"afaq5"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq6-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6-data" aria-expanded="false" aria-controls="faq6-data">
          <h2>{{"What was checked?"|t}}</h2>
        </button>
      </h2>
      <div id="faq6-data" class="accordion-collapse collapse" aria-labelledby="faq6-heading">
        <div class="accordion-body">
          <p>{{"afaq6"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq7-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7-data" aria-expanded="false" aria-controls="faq7-data">
          <h2>{{"What is SSH and what are SSHFP DNS records used for?"|t}}</h2>
        </button>
      </h2>
      <div id="faq7-data" class="accordion-collapse collapse" aria-labelledby="faq7-heading">
        <div class="accordion-body">
          <p>{{"afaq7"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq8-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8-data" aria-expanded="false" aria-controls="faq8-data">
          <h2>{{"What is DNSSEC and what is it used for?"|t}}</h2>
        </button>
      </h2>
      <div id="faq8-data" class="accordion-collapse collapse" aria-labelledby="faq8-heading">
        <div class="accordion-body">
          <p>{{"afaq8"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq12-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq12-data" aria-expanded="false" aria-controls="faq12-data">
          <h2>{{"What does it mean that HostKey verification cannot be performed?"|t}}</h2>
        </button>
      </h2>
      <div id="faq12-data" class="accordion-collapse collapse" aria-labelledby="faq12-heading">
        <div class="accordion-body">
          <p>{{"afaq12"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq9-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq9-data" aria-expanded="false" aria-controls="faq9-data">
          <h2>{{"What consequences can I expect for the security of my infrastructure?"|t}}</h2>
        </button>
      </h2>
      <div id="faq9-data" class="accordion-collapse collapse" aria-labelledby="faq9-heading">
        <div class="accordion-body">
          <p>{{"afaq9"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq10-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10-data" aria-expanded="false" aria-controls="faq10-data">
          <h2>{{"Do I have to expect legal consequences?"|t}}</h2>
        </button>
      </h2>
      <div id="faq10-data" class="accordion-collapse collapse" aria-labelledby="faq10-heading">
        <div class="accordion-body">
          <p>{{"afaq10"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq15-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq15-data" aria-expanded="false" aria-controls="faq15-data">
          <h2>{{"What test restrictions exist?"|t}}</h2>
        </button>
      </h2>
      <div id="faq15-data" class="accordion-collapse collapse" aria-labelledby="faq15-heading">
        <div class="accordion-body">
          <p>{{"afaq15"|t|safe}}</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq11-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq11-data" aria-expanded="false" aria-controls="faq11-data">
          <h2>{{"Further questions?"|t}}</h2>
        </button>
      </h2>
      <div id="faq11-data" class="accordion-collapse collapse" aria-labelledby="faq11-heading">
        <div class="accordion-body">
          <p>{{"afaq11"|t|safe}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}